### Lecture 25: Handing Mixed Type Features

Steps
1. See which column has mixed variables
2. Checking total no of categories in a column
3. Checking type of Mixed Data (Single,multi,space between them)
4. Extracting Numerical Part 
5. Extracting Categorical Part

Importing Libraries

In [63]:
import pandas as pd
import numpy as np

Importing Data

In [64]:
df=pd.read_csv('avocado_ripeness_dataset.csv')
df.head()

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num
0,14.5,19.0,40.0,26.0,black,34.0,175.0,261.0,ripe,A10,21,330911
1,71.7,53.0,69.0,75.0,green,69.0,206.0,185.0,pre-conditioned,A40,4,363272
2,88.5,60.0,94.0,46.0,dark green,79.0,220.0,143.0,hard,B2,7,240276
3,93.8,105.0,87.0,41.0,dark green,75.0,299.0,140.0,hard,C2,3,315154
4,42.5,303.0,58.0,32.0,purple,63.0,200.0,227.0,breaking,D7,2,3101298

Step 1: Checking which columns have mixed data

###### Here Tag & Quality are columns having mixed data

Step 2: Checking total no of categories in a column

In [65]:
df['Quality'].unique()

array(['A10', 'A40', 'B2', 'C2', 'D7', 'D2', 'C3', 'A3', 'A4', 'C1', 'B3',
       nan], dtype=object)

Step 3: Check type of mixed data (Single/Multi)

#### Single Type

Step 4: Extracting Numerical Part

In [66]:
df['Tag_numerical']=pd.to_numeric(df['Tag'],downcast='integer',errors='coerce')

Step 5: Extracting Categorical Part

In [67]:
df['Tag_categorical']=np.where(df['Tag_numerical'].isnull(),df['Tag'],np.nan)

In [68]:
df.sample(5)

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical
17,27.0,312.0,52.0,30.0,purple,51.0,169.0,224.0,firm-ripe,D7,G,2692,NaN,G
4,42.5,303.0,58.0,32.0,purple,63.0,200.0,227.0,breaking,D7,2,3101298,2.0,NaN
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244360,NaN,NaN
74,76.8,60.0,73.0,61.0,green,66.0,214.0,167.0,pre-conditioned,C2,D,113503,NaN,D
28,16.6,6.0,49.0,14.0,black,42.0,198.0,262.0,ripe,D7,7,113054,7.0,NaN

#### Multi No Space

In [69]:
df['Quality'].unique()

array(['A10', 'A40', 'B2', 'C2', 'D7', 'D2', 'C3', 'A3', 'A4', 'C1', 'B3',
       nan], dtype=object)

Step 4: Capture Numerical Part

In [70]:
df['Quality_numerical'] = df['Quality'].str.extract(r'(\d+)')

Step 5: Capturing Categorical Part

In [ ]:
df['Quality_categorical'] = df['Quality'].str[0]

In [71]:
df.head()

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical,Quality_numerical
0,14.5,19.0,40.0,26.0,black,34.0,175.0,261.0,ripe,A10,21,330911,21.0,NaN,10
1,71.7,53.0,69.0,75.0,green,69.0,206.0,185.0,pre-conditioned,A40,4,363272,4.0,NaN,40
2,88.5,60.0,94.0,46.0,dark green,79.0,220.0,143.0,hard,B2,7,240276,7.0,NaN,2
3,93.8,105.0,87.0,41.0,dark green,75.0,299.0,140.0,hard,C2,3,315154,3.0,NaN,2
4,42.5,303.0,58.0,32.0,purple,63.0,200.0,227.0,breaking,D7,2,3101298,2.0,NaN,7

#### Multi with Space

In [72]:
df['Avocado Num'].unique()

array(['330911', '363272', '240276', '315154', '3101298', '7538',
       '330972', '248738', '2657', 'A/4 48871', '349220', '694', '21228',
       '24065', 'W.E.P. 5734', 'SC/PARIS 2167', '233734', '2692',
       'STON/O2. 3101270', '2696', 'PC 17603', 'C 17368', 'PC 17598',
       'PC 17597', 'PC 17608', 'A/5. 3337', '113509', '2698', '113054',
       '2662', 'SC/AH 3085', 'C.A. 31029', 'C.A. 2315', 'W./C. 6607',
       '13236', '2682', '342712', '315087', '345768', '1601', '349256',
       '113778', 'SOTON/O.Q. 3101263', '237249', '11753',
       'STON/O 2. 3101291', 'PC 17594', '370374', '11813', 'C.A. 37671',
       '13695', 'SC/PARIS 2168', '29105', '19950', 'SC/A.3 2861',
       '382652', '349230', '348122', '386525', '349232', '237216',
       '347090', '334914', 'F.C.C. 13534', '330963', '113796', '2543',
       '382653', '349211', '3101297', 'PC 17562', '113503', '359306',
       '11770', '248744', '368702', '2678', 'PC 17483', '19924', '349238',
       '240261', '2660', '330844', 'A/4 31416', '364856', '29103',
       '347072', '345498', 'F.C. 12750', '376563', '13905', '350033',
       '19877', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '228414', '365235', '347070', '2625', 'C 4001', '330920', '383162',
       '3410', '248734', '237734', '330968', 'PC 17531', '329944', '2680',
       '2681', 'PP 9549', '13050', 'SC/AH 29037', 'C.A. 33595', '367227',
       '392095', '368783', '371362', '350045', '367226', '211535',
       '342441', 'STON/OQ. 369943', '113780', '4133', '2621', '349226',
       '350409', '2656', '248659', 'SOTON/OQ 392083', 'CA 2144', '113781',
       '244358', '17475', '345763', '17463', 'SC/A4 23568', '113791',
       '250651', '11767', '349255', '3701', '350405', '347077',
       'S.O./P.P. 752', '347469', '110489', 'SOTON/O.Q. 3101315',
       '335432', '2650', '220844', '343271', '237393', '315153',
       'PC 17591', 'W./C. 6608', '17770', '7548', 'S.O./P.P. 251', '2670',
       '2673', '29750', 'C.A. 33112', '230136', 'PC 17756', '233478',
       '113773', '7935', 'PC 17558', '239059', 'S.O./P.P. 2', 'A/4 48873',
       'CA. 2343', '28221', '226875', '111163', 'A/5. 851', '235509',
       '28220', '347465', '16966', '347066', 'C.A. 31030', '65305',
       '36568', '347080', 'PC 17757', '26360', 'C.A. 34050', 'F.C. 12998',
       '9232', '28034', 'PC 17613', '349250', 'SOTON/O.Q. 3101308',
       'S.O.C. 14879', '347091', '113038', '330924', '36928', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '2661', '350054', '370368', 'C.A. 6212', '242963', '220845',
       '113795', '3101266', '330971', 'PC 17599', '350416', '110813',
       '2679', '250650', 'PC 17761', '112377', '237789', '3470', '17464',
       '26707', 'C.A. 34651', 'SOTON/O2 3101284', '13508', '7266',
       '345775', 'C.A. 42795', 'AQ/4 3130', '363611', '28404', '345501',
       '345572', '350410', 'C.A. 34644', '349235', '112051', 'C.A. 49867',
       'A. 2. 39186', '315095', '368573', '370371', '2676', '236853',
       'SC 14888', '2926', 'CA 31352', 'W./C. 14260', '315085', '364859',
       '370129', 'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478',
       'PC 17607', '382650', '2652', '33638', '345771', '349202',
       'SC/Paris 2123', '113801', '347467', '347079', '237735', '315092',
       '383123', '112901', '392091', '12749', '350026', '315091', '2658',
       'LP 1588', '368364', 'PC 17760', 'AQ/3. 30631', 'PC 17569',
       '28004', '350408', '347075', '2654', '244368', '113790', '24160',
       'SOTON/O.Q. 3101309', 'PC 17585', '2003', '236854', 'PC 17580',
       '2684', '2653', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', 'PC 17755', '348125', '237670', '2688',
       '248726', 'F.C.C. 13528', 'PC 17759', 'F.C.C. 13540', '113044',
       '11769', '1222', '368402', '349910', 'S.C./PARIS 2079', '315083',
       '11765', '2689', '3101295', '112378', 'SC/PARIS 2147', '28133',
       '112058', '248746', '315152', '29107', '680', '366713', '330910',
       '364498', '376566', 'SC/PARIS 2159', '349911', '244346', '364858',
       '349909', 'PC 17592', 'C.A. 2673', 'C.A. 30769', '371109', '13567',
       '347065', '21332', '28664', '113059', '17765', 'SC/PARIS 2166',
       '28666', '334915', '365237', '19928', '347086', 'A.5. 3236',
       'PC 17758', 'SOTON/O.Q. 3101262', '359309', '2668'], dtype=object)

Step 4: Capture Numerical Part

In [73]:
# Getting numerical part as string data type
df['Avocado Num Numerical']=df['Avocado Num'].apply(lambda f:f.split()[-1])

In [74]:
# Converting string type to numerical type
df['Avocado Num Numerical']=pd.to_numeric(df['Avocado Num Numerical'],errors='coerce',downcast='integer')

Step 5: Capture Categorical Part

In [75]:
# Splitting num and cat part
df['Avocado Num Cat']=df['Avocado Num'].apply(lambda f:f.split()[0]) 

# Making cat & num columns
df['Avocado Num Cat']=np.where(df['Avocado Num Cat'].str.isdigit(),np.nan,df['Avocado Num Cat'])

In [76]:
df.sample(10)

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical,Quality_numerical,Avocado Num Numerical,Avocado Num Cat
234,93.2,67.0,76.0,42.0,dark green,75.0,252.0,147.0,hard,C2,21,PC 17599,21.0,NaN,2,17599,PC
194,10.6,4.0,42.0,26.0,black,43.0,194.0,291.0,ripe,C2,5,28220,5.0,NaN,2,28220,NaN
100,61.3,89.0,63.0,65.0,green,68.0,201.0,188.0,pre-conditioned,A4,D,11778,NaN,D,4,11778,NaN
218,55.6,282.0,63.0,32.0,purple,58.0,248.0,226.0,breaking,D2,F,113503,NaN,F,2,113503,NaN
232,18.8,12.0,43.0,36.0,black,31.0,166.0,299.0,ripe,D7,10,3101266,10.0,NaN,7,3101266,NaN
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244368,NaN,NaN,NaN,244368,NaN
409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOTON/O.Q. 3101315,NaN,NaN,NaN,3101315,SOTON/O.Q.
282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,364859,NaN,NaN,NaN,364859,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11769,NaN,NaN,NaN,11769,NaN
157,22.7,306.0,76.0,52.0,purple,46.0,227.0,241.0,firm-ripe,C2,4,347469,4.0,NaN,2,347469,NaN